@import url('https://fonts.googleapis.com/css?family=Roboto');

/* ogólne, strona główna */

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

#top {
	overflow: hidden;
	padding-bottom: 10px;
	position: relative;
	z-index: 1;
}

#logo {
	background: url("") no-repeat;
	width: 117px;
	height: 37px;
	display: block;
	text-indent: -1000em;
	float: left;
	margin-top: 60px;

}

#menu {
	float: right;
	margin-top: 50px;
	margin-right: 30px;
}

#menu a {
	color: #fff;
	border-bottom: 5px solid #6AE83A;
	text-transform: uppercase;
	text-decoration: none;
	padding: 5px 10px;
	transition: .3s;
}

#menu a + a {
	margin-left: 10px;
}

#menu .active,
#menu a:hover {
	border-bottom: 5px solid #FA339A;
}

.container {
	width: 60%;
	overflow: hidden;
	margin: 0 auto;
}

#headline {
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	margin-top: 130px;
}

#slide1 {
	background-image: url("../img/slide1.jpg");
}

#slide2 {
	background-image: url("../img/slide2.jpg");
}

#slide3 {
	background-image: url("../img/slide3.jpg");
}

#slide4 {
	background-image: url("../img/slide4.jpg");
}

#slide5 {
	background-image: url("../img/slide5.jpg");
}

#slide6 {
	background-image: url("../img/slide6.jpg");
}

.slide {
	height: 80vh;
	background-size: cover;
	background-position: center;
}

.owl-carousel {
	position: absolute !important;
	top: 0;
	z-index: -1 !important;
}

.owl-dots {
	margin-top: -25px !important;
	position: relative;
	z-index: 2 !important;
}

main {
	top: 80vh;
	position: absolute;
	width: 100%;
	margin-top: 20px;
}

main section {
	text-align: center;
	margin-bottom: 50px;
}

h2:after {
	content: "";
	background-color: #6AE83A;
	height: 5px;
	width: 100px;
	display: block;
	margin: 23px auto 0;
}

ul {
	overflow: hidden;
	padding-left: 90px;
	margin-top: 50px;
}

li {
	display: inline;
	float: left;
	width: 30%;
	text-align: center;
	margin-right: 20px;
}

.icon {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	border: 5px solid #FA339A;
	border-radius: 50%;
}

#icon1 {
	background-image: url(../img/lipstick.svg);
}

#icon2 {
	background-image: url(../img/hair.svg);
}

#icon3 {
	background-image: url(../img/style.svg);
}

.photo {
	width: 250px;
	height: 150px;
	margin: 10px auto;
	border: 5px solid #FA339A;
	background-size: cover;
	background-position: center;
}

#photo1 {
	background-image: url(../img/photo1-min.jpg)
}

#photo2 {
	background-image: url(../img/photo2-min.jpg)
}

#photo3 {
	background-image: url(../img/photo3-min.jpg)
}

#photo4 {
	background-image: url(../img/photo4-min.jpg)
}

#photo5 {
	background-image: url(../img/photo5-min.jpg)
}

#photo6 {
	background-image: url(../img/photo6-min.jpg)
}

.client {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	border: 5px solid #FA339A;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
}

#client1 {
	background-image: url(../img/client1.jpg)
}

#client2 {
	background-image: url(../img/client2.jpg)
}

#client3 {
	background-image: url(../img/client3.jpg)
}

footer {
	height: 50px;
	background-color: #222;
	overflow: hidden;
}

footer p {
	text-align: center;
	color: #fff;
}

/* cennik */

.cennik {
	width: 50%;
	margin: 0 auto;
	text-align: left;
}

.cennik table {
	width: 100%;
}

.cennik td {
	width: 50%;
}

.cennik td:nth-child(2) {
	text-align: right;
}

/* kontakt */

form {
	width: 80%;
	margin: 0 auto;
}

.inputy1 {
	width: 40%;
	margin: 10px 5px;
	height: 40px;
	text-align: center;
	font-size: 22px;
	border: 3px solid #FA339A;
	border-radius: 3px;
}

textarea {
	width: 80%;
	font-size: 22px;
	padding: 10px;
	resize: none;
	border: 3px solid #FA339A;
	border-radius: 3px;
}

#send {
	width: calc(80% + 25px);
	font-size: 24px;
	color: #fff;
	padding: 5px;
	margin: 5px 0;
	height: 40px;
	background-color: #FA339A;
	border: 3px solid #FA339A;
	border-radius: 3px;
}

#mapa {
	width: 80%;
	height: 50vh;
	margin: 0 auto;
}

#col-1 {
	width: 30%;
	height: 50vh;
	float: left;
	padding-top: 50px;
	margin-right: 50px;
}

#col-2 {
	width: 50%;
	height:50vh; 
	border: 1px solid black;
	position: relative;
	overflow: hidden;
}

.contact-icons {
	background-repeat: no-repeat;
	height: 100px;
}

#icon-contact-1 {
	background-image: url(../img/phone.svg);
}

#icon-contact-2 {
	background-image: url(../img/mail.svg);
}

#icon-contact-3 {
	background-image: url(../img/address.svg);
}