@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

/* ogólne, strona główna */

body {
	margin: 0;
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
}

* {
	box-sizing: border-box;
}

#top {
	padding-bottom: 10px;
	position: relative;
	z-index: 1;
}

#logo {
	background: url("../img/logo.png") no-repeat;
	width: 232px;
	height: 65px;
	display: block;
	z-index: 2;
	text-indent: -1000em;
	float: left;
	margin-top: 30px;

}

#menu {
	float: right;
	margin-top: 50px;
	margin-right: 30px;
}

#menu a {
	color: #fff;
	font-size: 1.2rem;
	border-bottom: 5px solid #6AE83A;
	text-transform: uppercase;
	text-decoration: none;
	padding: 5px 10px;
	transition: .3s;
}

#menu a + a {
	margin-left: 10px;
}

#menu .active,
#menu a:hover {
	border-bottom: 5px solid #FA339A;
}

.container {
	width: 60%;
	overflow: hidden;
	margin: 0 auto;
}

section {
	width: 60%;
	margin: 0 auto;
}

h2, h1, h3 {
font-weight: 500;
}


#headline {
	font-size: 2rem;
	text-shadow: 4px 2px 8px rgba(34, 34, 34, 1);
	text-align: center;
	color: #fff;
	margin-top: 10%;
}

#slide1 {
	background-image: url("../img/slide1.jpg");
}

#slide2 {
	background-image: url("../img/slide2.jpg");
}

#slide3 {
	background-image: url("../img/slide3.jpg");
}

.slide {
	height: 60vh;
	background-size: cover;
	background-position: center;
}

.owl-carousel {
	position: absolute !important;
	top: 0;
	z-index: -1 !important;
	-webkit-box-shadow: 0px 4px 20px -1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 4px 20px -1px rgba(0,0,0,0.5);
	box-shadow: 0px 4px 20px -1px rgba(0,0,0,0.5);
}

.owl-dots {
	margin-top: -25px !important;
	position: relative;
	z-index: 2 !important;
}

.owl-theme .owl-dots .owl-dot span {
	background: #6AE83A !important;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background: #FA339A !important;
}

main {
	top: 60vh;
	position: absolute;
	width: 100%;
	margin-top: 20px;
}

main section {
	text-align: center;
	margin-bottom: 50px;
}

h2 {
	font-size: 1.8rem;
}

h2:after {
	content: "";
	background-color: #6AE83A;
	height: 5px;
	width: 100px;
	display: block;
	margin: 23px auto 0;
}

ul {
	overflow: hidden;
	margin-top: 50px;
	padding-left: 0;
}

li {
	display: inline;
	float: left;
	width: 33.333%;
	text-align: center;
	margin-top: 20px;
}

li p {
	margin: 0 20px;
}

.icon {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	border: 5px solid #FA339A;
	border-radius: 50%;
	-webkit-box-shadow: 0px 4px 20px -1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 4px 20px -1px rgba(0,0,0,0.5);
	box-shadow: 0px 4px 20px -1px rgba(0,0,0,0.5);
}

#icon1 {
	background-image: url(../img/lipstick.svg);
}

#icon2 {
	background-image: url(../img/hair.svg);
}

#icon3 {
	background-image: url(../img/style.svg);
}

#photos li {
	width: 25%;
	margin-right: 0;
}

#photos-container {
	width: 80%;
}

.photo {
	width: 80%;
	height: auto;
	margin: 10px auto;
	border: 5px solid #FA339A;
	background-size: cover;
	background-position: center;
	transition: .3s;
	-webkit-box-shadow: 0px 4px 20px -1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 4px 20px -1px rgba(0,0,0,0.5);
	box-shadow: 0px 4px 20px -1px rgba(0,0,0,0.5);
}

.photo:hover {
	border: 5px solid #6AE83A;
}

.client {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	border: 5px solid #FA339A;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	-webkit-box-shadow: 0px 4px 20px -1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 4px 20px -1px rgba(0,0,0,0.5);
	box-shadow: 0px 4px 20px -1px rgba(0,0,0,0.5);

}

#client1 {
	background-image: url(../img/client1.jpg)
}

#client2 {
	background-image: url(../img/client2.jpg)
}

#client3 {
	background-image: url(../img/client3.jpg)
}

.shadow {
	-webkit-box-shadow: 0px 4px 20px -1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 4px 20px -1px rgba(0,0,0,0.5);
	box-shadow: 0px 4px 20px -1px rgba(0,0,0,0.5);
}

footer {
	height: 50px;
	background-color: #222;
	overflow: hidden;
}

footer p {
	text-align: center;
	color: #fff;
}

/* cennik */

.cennik {
	width: 70%;
	margin: 0 auto;
	text-align: left;
}

.cennik table {
	width: 100%;
}

.cennik h3 {
	padding: 10px;
	border-bottom: 3px solid #FA339A;
	cursor: pointer;
}

.cennik h3::after {
	background-image: url(../img/arrow.jpg);
	background-size: contain;
	content: '';
	float: right;
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
}

.cennik h3.open::after {
	transform: rotate(90deg);
}

.hidden {
	display: none;
}

.cennik td {
	padding: 10px;
	width: 50%;
}

.cennik td:nth-child(2) {
	text-align: right;
}

/* kontakt */

form {
	width: 100%;
	margin: 0 auto;
}

.inputy1 {
	width: calc(50% - 2px);
	margin: 10px 0;
	height: 40px;
	text-align: center;
	font-size: 22px;
	border: 3px solid #FA339A;
	border-radius: 3px;
}

textarea {
	width: 100%;
	font-size: 22px;
	padding: 10px;
	resize: none;
	border: 3px solid #FA339A;
	border-radius: 3px;
}

#send {
	width: 100%;
	font-size: 24px;
	color: #fff;
	padding: 5px;
	margin: 5px 0;
	height: 40px;
	background-color: #FA339A;
	border: 3px solid #FA339A;
	border-radius: 3px;
}

#mapa {
	width: 100%;
	
	margin: 0 auto;height: 40vh;
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#col-1 {
	width: 50%;
	height: 40vh;
	float: left;
	padding-top: 50px;
	padding-right: 50px;
}

#col-2 {
	width: 50%;
	height: 40vh; 
	border: 1px solid black;
	position: relative;
	overflow: hidden;
}

.contact-icons {
	background-repeat: no-repeat;
	height: 30%;
	font-size: 1.2rem;
}

#icon-contact-1::before {
	background-repeat: no-repeat;
	background-size: contain;
	float: left;
	width: 50px;
	height: 50px;
	margin-top: -10px;
	content: '';
	background-image: url(../img/phone.svg);
}

#icon-contact-2::before {
	background-repeat: no-repeat;
	background-size: contain;
	float: left;
	width: 50px;
	height: 50px;
	margin-top: -10px;
	content: '';
	content: '';
	background-image: url(../img/mail.svg);
}

#icon-contact-3::before {
	background-repeat: no-repeat;
	background-size: contain;
	float: left;
	width: 50px;
	height: 50px;
	content: '';
	content: '';
	background-image: url(../img/address.svg);
}

@media screen and (max-width: 1100px) {
	li, #photos li {
		display: block;
		width: 100%;
	}

	ul {
		padding-left: 0;
	}

	.container {
		width: 80%;
	}

	.cennik {
		width: 100%;
	}
	#mapa {
		height: auto;
	}
	
	#col-1 {
		width: 100%;
	}
	#col-2 {
		width: 100%;
	}
}

@media screen and (max-width: 680px) {
	#headline {
		margin-top: 20%;
		font-size: 1.5rem;
	}

	.container {
		width: 100%;
	}
	
	#logo {
		background: url("../img/logo-mobile.png") no-repeat;
		width: 20%;
	}

	#menu a {
		font-size: 0.8rem;
	}

}
